.edit-task {
  .content-area {
    padding: 10px;

    .btn {
      box-shadow: 0 4px 2px -2px gray;
      line-height: 25px;
      padding: 4px 30px;
      width: 120px;

      &:active {
        box-shadow: none;
        margin-top: 1px;
      }

      &.cancel-task {
        background-color: #a4a5a8;
        float: left;
      }

      &.save-task {
        background-color: #ff2ecb;
        float: right;
      }
    }
  }
}