.config-menu {
  color: #fff;
  transition-duration: 500ms;
  transition-property: right;
  z-index: $on-top;
  @include position(absolute, 0px -400px 0 0);
  @include size(400px, 100%);

  .config-content {
    background-color: $button-bg;
    width: 400px;
    color: #fff;
    padding-right: 25px;
    box-sizing: border-box;
    height: 100%;

    .sub-title {
      color: inherit;
      font: 100 20px/40px 'Titillium Web';
    }

    .config-items {
      padding-left: 15px;
      padding-right: 30px;

      .accordion-section {
        padding-left: 10px;
        padding-right: 10px;

        .stop-start-sprint {
          background-color: $color-theme1;
          margin: 0 auto;
          width: 150px;
          display: block;
          color: #fff;
          line-height: 19px;
        }

        &.team-members {
          .member-name {
            width: 200px;
          }

          .member-initials {
            width: 75px;
          }

          .add-member {
            padding: 6px 1px;
            cursor: pointer;
          }
        }
      }

      .label {
        display: inline-block;
        width: 120px;
        text-align: right;
        margin-right: 10px;
        font-size: 15px;
      }

      #sprint-number {
        width: 76px;
        text-align: center;
      }

      .input-datepicker {
        position: relative;

        .input-date {
          width: 158px;
        }
        .calendar {
          position: absolute;
          right: 0;
          top:-2px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background-image: url(/img/calendar-icon-black.png);
          background-size: 25px 25px;
        }
      }
    }
  }

  &.visible {
    right: -25px;
  }

  .title {
    color: inherit;
    text-shadow: none;
    font: 100 20px/40px $font-normal;
  }

}