.edit-task {
  position: absolute;
  visibility: hidden;
  padding: 10px;
  width: 300px;
  height: 412px;
  z-index: 2147483600; // 47 less than the maximum value

  .content-area {
    background-color: #fff;
    border-radius: 2px;
    position: relative;

    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);

    height: 100%;
    width: 100%;


  }
  &:before {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    position: absolute;
    right: 45px;
    top: 4px;
    height: 0;
    width: 0;
    z-index: 1;
  }
}


