.home {
  background-color: #fff;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  position: relative;
  min-height: 400px;
  min-width: 850px;
  font-size: 0;

  .home__wrapper {
    width: 600px;
  }

  .home__header {
    border-bottom: 1px dashed #d2d4d8;
    @include size(0, 38px);
  }

  .section__name,
  .project-item__name {
    font: 300 17px/40px Lato;
  }

  .new-project {
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px 0 55px;
    width: 50%;

    .file-upload {
      border: 1px solid lightgrey;
      color: #123456;
      cursor: pointer;
      float: left;
      display: inline-block;
      margin: 0;
      overflow: hidden;
      @include size(73px, 73px);

      .file-upload__preview {
        position: absolute;
        @include size(100%, 100%);
      }

      &:hover .file-upload__preview {
        margin-left: -5px;
        transition: all .1s linear;
        @include size(110%, 110%);
      }

      .file-upload {
        cursor: pointer;
        margin-top: -100px;
        position: relative;
        @include size(100%, 300%);
      }
    }

    .new-project__name {
      box-shadow: inset 4px 5px 7px -6px rgba(50, 50, 50, 0.75);
      float: right;
      font: 100 20px/35px Lato;
      max-width: 140px;
      width: 180px;
    }

    .new-project__add {
      clear: right;
      float: right;
      margin-top: 10px;
      width: 140px;
    }

    .section__name {
      margin-bottom: 4px;
    }
  }

  .home__projects {
    border-left: 1px dashed #d2d4d8;
    display: inline-block;
    padding: 20px 20px;
    vertical-align: top;
    width: 50%;
    min-height: 200px;

    .project__item {
      display: inline-block;
      width: 100%;

      &:hover {
        background-color: #d3d3d3;
        cursor: pointer;

        .project__icon {
          transition: background-size .3s linear;
          background-size: 50px 50px;
        }
      }
    }

    .project-item__name {
      margin-left: 10px;

      &:link,
      &:visited,
      &:active,
      &:focus {
        color: #445668;
      }

      &:hover {
        color: $text;
      }
    }

    .project-item__icon img {
      border-radius: 20px;
      display: inline-block;
      vertical-align: middle;
      @include size(40px, 40px);
    }

    .project__item {
      margin: 2px 0;
    }

    .project__title {
      color: #445668;
      margin-left: 20px;
    }

  }
}