// http://www.ballyhooblog.com/realistic-css3-box-shadows/
// http://mentormate.com/blog/css-postit-note/
/*
.draggable {
  position: absolute;
  z-index: 0;
}
*/

// http://webdesignandsuch.com/posts/css3-post-it/index.html
.postit {
  overflow: hidden;
  position: absolute;
  top: 100px;
  z-index: 100;
  left: 20px;

  display: inline-block;
  //position: relative;
  height: 124px;
  width: 155px;
  padding-top: 5px;

  @include vendor-prefix(box-shadow, 0px 4px 6px #d3d3d3);
  .postit__description,
  .postit__title {
    //position: absolute;
    width: 100%;
    color: rgba(35,48,70,.6);
  }

  .postit__title {
    top: 12px;
    padding-left: 6px;
    font: 200 20px/20px 'Gloria Hallelujah', cursive;
    //font-family: 'Bad Script', cursive;
    overflow:hidden;
    text-align: center;
    text-overflow:ellipsis;
    margin-bottom: 13px;
    white-space:nowrap;


    &:after {
      position: absolute;
      left: 17px;
      right: 21px;
      top: 28px;
      content: '';
      border-bottom: 1px solid rgba(35,48,70,.3);
      transform:rotate(-3deg);
      -ms-transform:rotate(-3deg); /* IE 9 */
      -webkit-transform:rotate(-3deg); /* Opera, Chrome, and Safari */
    }
  }

  .postit__description {
    font: 200 15px/20px 'Gloria Hallelujah', cursive;
    //font-family: 'Bad Script', cursive;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    @include vendor-prefix-value(display, box);
    @include vendor-prefix(box-orient, vertical);

    &.postit__description--2lines {
        max-height: 60px;      /* fallback */
        @include vendor-prefix(line-clamp, 3);
    }

    &.postit__description--3lines {
        max-height: 100px;      /* fallback */
        @include vendor-prefix(line-clamp, 5);
    }
  }

  .postit__link {
    position: absolute;
    bottom: 3px;
    left: 10px;
    padding: 10px;

    svg {
      width: 20px;
      height: 10px;
      fill: rgba(35,48,70,.3);
    }
  }

  .postit__initials {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: rgba(35,48,70,.3);
  }

  svg {
    left: -5px;
    position: absolute;
    z-index: -1;
  }
}

.scrumboard--small .postit {
  height: 30px;
  width: 30px;


  .postit__description,
  .postit__link,
  .postit__title {
    display: none;
  }
}
