// http://www.ballyhooblog.com/realistic-css3-box-shadows/
// http://mentormate.com/blog/css-postit-note/
.draggable {
  position: absolute;
  z-index: 0;
}

.postit {
  text-align:center;
  width: 200px;
  margin: 25px;
  min-height:90px;
  max-height:175px;
  padding-top:35px;
  position:absolute;
  border:1px solid #E8E8E8;
  border-top:60px solid #fdfd86;
  font-family:'Reenie Beanie';
  font-size:22px;
  border-bottom-right-radius: 60px 5px;
  display:inline-block;
  background: rgb(255,255,136); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
  background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
/*
.postit{
  position: absolute;
  top: 0;
  width:300px;
  height:300px;
  margin:50px auto;
  //position:relative;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefbb0), to(#fff955));
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.postit:after{
  -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.7);
  position:absolute;
  content:'';
  background:transparent;
  bottom:10px;
  right:9px;
  width:70%;
  height:70%;
  -webkit-transform: rotate(5deg) skew(10deg);
  z-index: -2;
}

.postit:before{
  z-index:-1;
  -webkit-box-shadow: 11px 11px 32px rgba(255, 255, 255, 0.7);
  position:absolute;
  content:'';
  background:transparent;
  bottom:46px;
  right:41px;
  width:50%;
  height:50%;
  -webkit-transform: rotate(20deg) skew(45deg);
}
*/
/*
.postit {
  position: absolute;
  top:0;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefbb0), to(#fff955));
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  z-index: auto;

  &:after {
    -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    content: '';
    background: transparent;
    bottom: 10px;
    right: 9px;
    width: 70%;
    height: 70%;
    -webkit-transform: rotate(5deg) skew(10deg);
    z-index: -2;
  }

  &:before {
    -webkit-box-shadow: 11px 11px 32px rgba(255, 255, 255, 0.7);
    position: absolute;
    content: '';
    background: transparent;
    bottom: 46px;
    right: 41px;
    width: 50%;
    height: 50%;
    -webkit-transform: rotate(20deg) skew(45deg);
    z-index: -1;
  }
}
*/

/*
 * SimpleModal OSX Style Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

/* Overlay */
#postit-edit--overlay {
  background-color: #eee;
  color: #000;
  font: 16px/24px "Lucida Grande", Arial, sans-serif;
  padding-bottom: 4px;
  width: 600px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-radius: 0 0 6px 6px;
  -moz-box-shadow: 0 0 64px #000;
  -webkit-box-shadow: 0 0 64px #000;
  box-shadow: 0 0 64px #000;
  a {
    color: #ddd;
  }

  .close {
    //display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .close a {
    display: block;
    color: #777;
    font-weight: bold;
    padding: 6px 12px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #f4f4f4;
  }
  .close a:hover {
    color: #000;
  }

  h2 {
    margin: 10px 0 6px;
  }
  p {
    margin-bottom: 10px;
  }
}
