// http://www.ballyhooblog.com/realistic-css3-box-shadows/
// http://mentormate.com/blog/css-postit-note/
/*
.draggable {
  position: absolute;
  z-index: 0;
}
*/

// http://webdesignandsuch.com/posts/css3-post-it/index.html
.postit {
  background: linear-gradient(135deg, rgba(255,255,255,.4) 0%,rgba(255,255,255,.3) 23%,rgba(0,0,0,0) 100%); /* W3C */
  display: inline-block;
  box-shadow: 0px 4px 6px #d3d3d3;
  overflow: hidden;
  padding-top: 5px;
  transition: all .1s linear;
  z-index: 100;
  @include position(absolute, 100px 0 0 20px);
  @include size(155px, 124px);

  &:active {
    cursor: move;
    transition: none;
  }

  &.postit--fixed:active {
    cursor: default;
  }

  .postit__description,
  .postit__title {
    color: rgba(35,48,70,.8);
    user-select: text;
    width: 100%;
  }

  .postit__title {
    font: 400 18px/20px 'Architects Daughter', cursive;
    margin-bottom: 13px;
    overflow:hidden;
    padding-left: 6px;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;


    &:after {
      border-bottom: 1px solid rgba(35,48,70,.3);
      content: '';
      transform:rotate(-3deg);
      @include position(absolute, 28px 21px 0 17px);
    }
  }

  .postit__description {
    font: 200 15px/20px 'Architects Daughter', cursive;
    hyphens: auto;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;

    @include vendor-prefix-value(display, box);
    @include vendor-prefix(box-orient, vertical);

    &.postit__description--2lines {
        max-height: 60px;      /* fallback */
        @include vendor-prefix(line-clamp, 3);
    }

    &.postit__description--3lines {
        max-height: 100px;      /* fallback */
        @include vendor-prefix(line-clamp, 5);
    }
  }

  .postit__link {
    padding: 10px;
    @include position(absolute, 0 0 3px 10px);

    svg {
      fill: rgba(35,48,70,.3);
      @include size(20px, 10px);
    }
  }

  .postit__initials {
    color: rgba(35,48,70,.3);
    @include position(absolute, 0 5px 0px 0);
  }

  svg {
    z-index: -1;
    @include position(absolute, 0 0 0 -5px);
  }
}

.scrumboard--small .postit {
  box-shadow: 0px 0px 6px #d3d3d3;
  z-index: 0!important;
  @include size(30px, 30px);

  .postit__description,
  .postit__link,
  .postit__title {
    display: none;
  }

  .postit__initials {
    top: 8px;
  }
}
