.config-menu {
  color: #fff;
  transition-duration: 500ms;
  transition-property: right;
  z-index: $on-top;
  @include position(absolute, 0px -400px 0 0);
  @include size(400px, 100%);

  .config__button {
    background-color: $button-confirm;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #fff;
    font: 300 17px/20px $font-normal;
    width: 100%;
    //background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgba(0,0,0,0.45)), color-stop(1, rgba(255,255,255,0.3)) );

    &:active {
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
      position: relative; top: 3px;
    }
  }

  .config-content {
    background-color: $button-bg;
    width: 400px;
    color: #fff;
    padding-right: 25px;
    box-sizing: border-box;
    height: 100%;

    .sub-title {
      color: inherit;
      font: 100 20px/40px 'Titillium Web';
    }

    .config-items {
      padding-left: 15px;
      padding-right: 30px;

      .accordion-section {
        padding: 20px;

        &.team-members {
          .member-name {
            width: 200px;
          }

          .member-initials {
            width: 75px;
          }

          .add-member {
            padding: 6px 1px;
            cursor: pointer;
          }
        }
      }

      .label {
        display: inline-block;
        width: 120px;
        text-align: right;
        margin-right: 10px;
        font-size: 15px;
      }



      .input-datepicker {
        position: relative;


      }
    }
  }

  &.visible {
    right: -25px;
  }

  .title {
    color: inherit;
    text-shadow: none;
    font: 100 20px/40px $font-normal;
  }

}