/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body, div, h1, form, fieldset, input, textarea {
  margin: 0; padding: 0; border: 0; outline: none;
}

h1 {
  font-size: 25px;
  color: #445668;
  text-transform: uppercase;
  text-align: center;
}

input {
  box-sizing: border-box;
  /*width: 100%;*/
  height: 35px;
  padding: 5px 20px;
  border: 1px solid #a4a5a8;
  border-radius: 2px;
  /*
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  */
}

input[type='number'] {
  padding-top: 0;
}
input::-webkit-input-placeholder  {
  color: #a1b2c3;
}
input:-moz-placeholder {
  color: #a1b2c3;
}

textarea {
  border: 1px solid #a4a5a8;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  padding: 5px 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
}
textarea::-webkit-input-placeholder  {
  color: #a1b2c3; //text-shadow: 0px -1px 0px #38506b;
}
textarea:-moz-placeholder {
  color: #a1b2c3; //text-shadow: 0px -1px 0px #38506b;
}

input:focus, textarea:focus {
  //background: #728eaa;
  //background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

html, body, main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}