.scrumboard__header {
  height: 38px;

  .postit-filter {
    float: right;

    .postit-filter__label {
      font: 300 15px/15px $font-normal;
      color: $button-bg;
    }
  }

  /*
  .postit-filter__dropdown {
    .select2-default .select2-chosen {
        color: $text;
    }
  }
  */
}
