.scrumboard__header {
  height: 38px;

  .add-github-issues {
    background-image: url($add-github);
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .postit-filter {
    float: right;

    .postit-filter__label {
      color: $button-bg;
      font: 300 15px/15px $font-normal;
      vertical-align: middle;
    }
  }


  /*
  .postit-filter__dropdown {
    .select2-default .select2-chosen {
        color: $text;
    }
  }
  */
}

.scrumboard--readonly {
  .add-task {
    display: none;
  }
}

.scrumboard--small .scrumboard__header {
  display: none;
}
