.scrumboard {
  background-color: #fff;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  user-select: none;

  &.scrumboard--readonly {
    height:  100%;
  }
}