.statistics {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-flow: column;

  .charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //flex-flow: row nowrap
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    flex: 1;
    height: 40%;
    margin: 0 20px 20px;
    overflow:hidden;

    .charts__item {
      margin: 0 20px;
      height: 200px;
      width: 300px;
      border: 2px solid #d3d3d3;
      flex: 1;
    }
  }

  .burnup,
  .burndown,
  .scrumboard {
    height: 100%;
  }
}