.statistics {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-flow: column nowrap;

  .charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //flex-flow: row nowrap
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    height: 250px;
    margin: 0 20px 20px;
    overflow:hidden;

    .charts__item {
      border: 2px solid #d3d3d3;
      flex: 1;
      margin: 0 20px;
      position: relative;
      height: 250px;
      width: 300px;
    }
  }

  .burnup,
  .burndown,
  .scrumboard {
    height: 100%;
  }
}