$primary: #fff;
$secondary: #fff;
$tertiary: #fff;

$button-bg: #233046;
$text: #233046;

$color-theme1: #ff2ecb;

$error: #f00;

$font-normal: Lato;//, sans-serif;

$on-top: 1000000; // z-index value


$main-bg: '/img/bg.png';
$logo: '/img/02_logo.png';
$config-icon: '/img/config-icon.png';
