@import 'variables';
@import 'mixins';
@import 'reset';
@import 'form';
@import 'widgets/select2';
@import 'widgets/select2-colors';
@import 'header';
@import 'scrumboard';
@import 'scrumboard/small';
@import 'scrumboard-header';
@import 'config-menu';
@import 'lanes';
@import 'postit';
@import 'manip-task';
@import 'add-task';
@import 'statistics';
@import 'statistics/header';
@import 'statistics/chart-footer';
@import 'statistics/velocity';

@import 'widgets/button';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url($main-bg);
  font-family: $font-normal;
  padding: 10px;
}

.viewport {
  display: flex;
  flex-direction: column;
}

.error {
  border: 1px solid $error;
}
.ui-dialog {
  z-index: 1000000!important;
}

.clickable-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

}
