@import 'reset';
@import 'form';
@import 'variables';
@import 'config-menu';
@import 'postit';
@import 'edit-task';
@import 'add-task';

body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url(/img/bg.png);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}

.btn {
  cursor: pointer;
  text-align: center;
  background-color: $button-bg;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  height: 34px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;

  &:active {
    //background-color: #395077;
    -webkit-box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
  }
}

.error {
  border: 1px solid red;
}
.ui-dialog {
  z-index: 1000000!important;
}

.hamburger {
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  float: right;
}

.header-main {
  position: relative;
  height: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.header__logo {
  background-image: url(/img/02_logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 120px 33px;
}

.header__nav {
  float: right;
  display: -webkit-flex;
  display: flex;
  height: 100%;

  .add-task {
    float: right;
    margin: auto;
    font-size: 15px;
    line-height: 16px;
  }
}

.header__title {
  display: inline;
  font-size: 30px;
  line-height: 34px;
}

.scrumboard {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scrumboard {
  background-color: #fff;
  border-radius: 2px;
  height: calc(100% - 42px);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 10px solid rgba(0, 0, 0, 0);

  .lanes {
    display: -webkit-box;
    display: flex;
    border-top: 40px solid rgba(0, 0, 0, 0);
    flex-wrap: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    font-size: 0;
    height: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0;

    .lane {
      border: 1px dashed #d2d4d8;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      height: 100%;
      margin: 0 5px 10px 5px;
      text-align: center;

      &.ui-state-hover {
        background: none;
        background-color: #fff;
      }

      &.ui-state-active {
        background: none;
        background-color: rgba(0, 0, 0, .1);
      }

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }

      .lane-title {
        color: #253248;
        font: 100 20px/40px 'Titillium Web';
        margin-top: -35px;
        text-transform: uppercase;
      }
    }
  }
}

