@import 'variables';
@import 'mixins';
@import 'reset';
@import 'form';

@import 'base';

@import 'widgets/select2';
@import 'widgets/select2-colors';
@import 'widgets/button';
@import 'widgets/checkbox';
@import 'widgets/upload-button';
@import 'widgets/toggle-switch';
@import 'widgets/spinner';
@import 'widgets/wrapper';

@import 'header';
@import 'home';
@import 'scrumboard';
@import 'scrumboard/small';
@import 'scrumboard-header';
@import 'lanes';
@import 'postit';
@import 'manip-task';
@import 'add-task';
@import 'dialog';
@import 'statistics';
@import 'statistics/header';
@import 'statistics/chart-footer';
@import 'statistics/velocity';
@import 'statistics/fullscreen';

@import 'project-config';
@import 'config/sprint';
@import 'config/members';
@import 'config/lanes';
@import 'config/colors';
@import 'config/connections';

@import 'user-logged-in';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url($main-bg);
  font-family: $font-normal;
  padding: 10px;
}

.viewport {
  display: flex;
  flex-direction: column;
}

.error {
  border: 1px solid $error!important;

  &.big-error {
    border-width: 4px!important;
  }
}

.clickable-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

}

:target { outline: solid red; }

.link {
    &.link--disabled {
      cursor: default!important;
      color: grey!important;
      pointer-events: none;
    }

    &.link--active {
      cursor: default!important;
      font-weight: 700!important;
    }
}

.hide {
  display: none;
}

.on-top {
  visibility: visible;
  z-index: $on-top;
}

// css fixes
.ui-state-disabled {
  opacity: 1;
}
