.chart__footer {
  background-color: $char-footer;
  color: #fff;
  font: 100 15px/30px $font-normal;
  height: 30px;
  padding: 0 10px;

  position: absolute;
  left: -2px;
  right: -2px;
  bottom: -2px;

  .chart__dates {
    float: right;
  }
}