.config__connections {
  display: none;
}

.accordion__item--open {
  .config__connections {
    border: 1px solid $lane-odd;
    border-radius: 3px;
    color: $text;
    display: block;
    font: 300 20px/30px $font-normal;

    .item__toggle {
      display: none;
    }

    .item__toggle:not(:checked) ~ .item__body {
      max-height: 0;
      display: none;
    }
    .item__toggle:checked ~ .item__body {
      display: block;
    }

    .item__header {
      display: block;


    }

    .item__body {
      padding: 10px 10px 5px;
    }

    .config__checkbox:not(:checked) ~ .item__body {
      max-height: 0;
      overflow: hidden;
      padding: 0;
    }

    .onoffswitch {
      float: right;
    }

    .config__connection__item {
      &:nth-child(odd) {
        .item__header, .item__body {
        background-color: $lane-odd;
        }
      }

      &:nth-child(odd) .item__header:hover {
        background-color: darken($lane-odd, 10%);
      }

      &:nth-child(even) .item__header:hover {
        background-color: darken(#fff, 10%);
      }

      .item__header {
        cursor: pointer;
        padding: 5px;

        &:first-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
      }

    }

    .item__label {
      display: inline-block;
      vertical-align: top;
    }
  }
}