.config__sprint {
  .sprint__stop-start {
    background-color: $button-confirm;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #fff;
    font: 300 17px/20px $font-normal;
    width: 100%;
    //background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgba(0,0,0,0.45)), color-stop(1, rgba(255,255,255,0.3)) );

    &:active {
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
      position: relative; top: 3px;
    }
  }

  p { margin-bottom: 10px; }

  .sprint__number,
  .sprint__fte,
  .input-date {
    padding-left: 14px;
    width: 152px;
  }

  .calendar {
    position: absolute;
    right: 0;
    top:-2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/img/calendar-icon-black.png);
    background-size: 25px 25px;
  }
}