.manip-task {
  background-color: #fff;
  border-radius: 2px;
  margin-left: 5px;
  min-height: 412px;
  padding: 10px;
  visibility: hidden;
  width: 300px;
  z-index: -$on-top;

  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  @include position(absolute, 0px 0 0 0px);

  .jira-stories {
    margin-bottom: 10px;

    .loaded {
      display: block;
    }

    .loading {
      display: none;
    }

    .loading-message {
      display: inline-block;
      font: 100 20px/35px Lato;
      vertical-align: top;
      margin-left: 10px;
      line-height: 19px;
    }

    &.jira-stories--loading {
      .loaded {
        display: none;
      }
      .loading {
        display: block;
      }
    }
  }

  .task__title {
    width: 75%;
  }
  .task__pts {
    padding: 0 13px;
    width: 23%;
  }

  .select2-container {
    margin-bottom: 10px;
  }

  .button-group {
    display: flex;
  }

  .save-task,
  .cancel-task,
  .clone-task,
  .delete-task {
    flex: 1;
    margin: 2px;
    padding: 6px 0 7px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .clone-task,
  .delete-task {
  }

  .save-task {
    background-color: $confirm;
  }

  .cancel-task {
    background-color: $cancel;
  }

  .delete-task {
    background-color: $delete;
  }

  .clone-task {
    background-color: $default;
  }

  .task__links-wrapper {
    text-align: right;
    @include position(absolute, 0 10px 13px 0);

    .task__link {
      cursor: pointer;
      display: block;
      line-height: 25px;
      text-decoration: underline;
    }
  }



  /*
  &:before {
    border-bottom: 10px solid green;//#fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    position: absolute;
    right: 45px;
    top: 4px;
    height: 0;
    width: 0;
    z-index: 1;
  }
  */
}

h4.task-manip__issue-option {
  font: 100 20px/20px Lato;
}
h5.task-manip__issue-option {
  font: 100 15px/17px Lato;
  hyphens: auto;
  width: 100%;
  max-height: 34px; /* fallback */
  margin-bottom: 2px;

  @include vendor-prefix-value(display, box);
  @include vendor-prefix(box-orient, vertical);
  @include vendor-prefix(line-clamp, 2);

  text-overflow: ellipsis;
  overflow: hidden;
}
