.statistics {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  height: 100%;
  z-index: 2;

  .charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //flex-flow: row nowrap
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0 20px 20px;

    .charts__item {
      border: 2px solid #d3d3d3;
      flex: 1;
      margin: 0 20px;
      position: relative;
      height: 250px;
      width: 300px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}