.postit-filter {
  z-index: 1;
  @include position(absolute, 0 40px 0 0);

  .postit-filter__label {
    color: $button-bg;
    font: 300 15px/15px $font-normal;
    line-height: 26px;
    vertical-align: top;
  }

  .select2-container {
    vertical-align: top;
  }
  .postit-filter__text {
    font-size: 17px;
    display: inline-block;
    line-height: 26px;
    @include size(150px, 26px);
  }
}
