.btn {
  font: 300 15px/15px Lato;
  cursor: pointer;
  text-align: center;
  background-color: $button-bg;
  color: #fff;
  display: inline-block;
  padding: 6px 20px 7px;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    background-color: $button-hover;
  }

  &.btn--active {
    background-color: $button-active;
    -webkit-box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow: inset 7px 7px 5px -5px rgba(50, 50, 50, 0.75);
  }

  &.btn__confirm {
    background-color: $button-confirm;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #fff;
    font: 300 17px/20px $font-normal;
    width: 100%;
    //background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgba(0,0,0,0.45)), color-stop(1, rgba(255,255,255,0.3)) );

    &:active {
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
      position: relative;
      top: 3px;
    }
  }
}
